* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to bottom right, #460196 25%, #cfa5ff 75%);
  height: 100vh;
  margin: 0;
}

header h1 {
  text-align: center;
  margin: 24px;
  color: #fff;
}

header hr {
  padding: 8px;
  border: none;
  border-top: 3px solid #1a0038;
}

.container {
  max-width: 960px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

main {
  display: flex;
  align-items: top;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;

  max-width: 300px;
  width: 100%;
  margin: 8px;
}

form button {
  margin: 16px auto;
  padding: 3px 9px;

  font-size: 24px;

  border-radius: 6px;
  border-color: #cfa5ff;

  color: #fff;
  background-color: #1a0038;
}

form label {
  margin: 3px;

  font-size: 24px;
  font-weight: bold;

  color: #fff;
  text-align: left;
}

form input {
  margin: 3px;
  padding: 3px;

  color: #1a0038;
  background-color: #cfa5ff;

  border: #1a0038;
  border-radius: 6px;
}

table {
  width: 100%;
  margin: 8px;

  padding: 3px 9px;
}

thead,
tfoot {
  font-size: 24px;
  font-weight: bold;

  color: #fff;
  background-color: #1a0038;
}

tbody {
  font-size: 16px;
  font-weight: bold;

  color: #1a0038;
  background-color: #cfa5ff;
}

@media (max-width: 760px) {
  .container {
    max-width: 760px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }

  main {
    display: block;
  }

  form {
    margin: 0px auto;
  }

  table {
    width: 100%;
    margin: 0px;
  }

  thead,
  tfoot {
    font-size: 18px;
  }

  thead th,
  tfoot td {
    padding: 3px 6px;
  }
}
